#app {
  --font-family: "Nunito Sans", sans-serif;
  --color-background: #fff;
  --color-brand: #0F62FE;
  --color-text-primar: #222327;
  --link-color-default: #0C5BEF;
  --link-color-hover: #0029A9;
}
